@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    
    background: #FFFFFF;

    
}

#card1 {
    width: 777px;
    height: 311px;

    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 20px;

    margin-left: 41px;
    margin-top: 78px;

    display: flex;
    
}

#card2 {
    width: 777px;
    height: 311px;
    
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 20px;

    float: right;
    margin-right: 57px;
    margin-top: 103px;
    
    display: flex;
}

hr {
    border: 2px solid #DFDFDF;
    margin-left: 34px;
    margin-top: 107px;

}

#img1 {
    width: 237.95px;
    height: 184.57px;
    margin-left: 23px;
    margin-top: 63px;
}

#h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

    
    margin-top: 63px;
}

#paragraph1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;

    color: #000000;
}

#hyperlink1 {
    float: right;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #5076FF;

    text-decoration: none;

    margin-right: 22px;
}

#h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

    margin-left: 27px;

    margin-top: 63px;
}

#paragraph2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;

    color: #000000;

    margin-left: 27px;
}

#hyperlink2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #5076FF;

    text-decoration: none;

    margin-left: 386px;
}

#img2 {

    width: 258px;
    height: 258px;

    margin-top: 15px;
    margin-right: 24px;
}